--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: book; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.book (
    id integer NOT NULL,
    author character varying(255),
    category character varying(255),
    image_url character varying(255),
    price double precision NOT NULL,
    title character varying(255),
    user_id integer
);


ALTER TABLE public.book OWNER TO postgres;

--
-- Name: books; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.books (
    id integer NOT NULL,
    author character varying(255),
    category character varying(255),
    image_url character varying(255),
    price double precision NOT NULL,
    title character varying(255),
    user_id integer
);


ALTER TABLE public.books OWNER TO postgres;

--
-- Name: book_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.books ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.book_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: book_id_seq1; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.book ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.book_id_seq1
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders (
    id integer NOT NULL,
    address character varying(255),
    email character varying(255),
    local_date_time timestamp(6) without time zone,
    order_username character varying(255),
    total_price double precision NOT NULL,
    user_id integer,
    city character varying(255),
    country character varying(255)
);


ALTER TABLE public.orders OWNER TO postgres;

--
-- Name: orders_book_list; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders_book_list (
    orders_id integer NOT NULL,
    book_id integer NOT NULL
);


ALTER TABLE public.orders_book_list OWNER TO postgres;

--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.orders ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    address character varying(255),
    email character varying(255),
    name character varying(255),
    password character varying(255),
    role character varying(255),
    username character varying(255),
    confirm_password character varying(255),
    city character varying(255),
    country character varying(255)
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: book; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.book (id, author, category, image_url, price, title, user_id) FROM stdin;
\.


--
-- Data for Name: books; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: orders_book_list; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.orders_book_list (orders_id, book_id) FROM stdin;
8	20
8	23
8	26
11	10
11	11
13	11
16	1
16	26
17	32
23	7
23	8
6	18
6	10
6	12
23	12
24	10
25	8
26	10
27	11
28	11
29	11
30	11
31	10
32	18
33	26
34	11
35	16
36	20
37	11
38	11
39	10
40	19
41	12
42	16
43	12
44	15
45	22
46	15
47	7
48	10
49	10
49	1
49	16
50	20
51	1
51	8
51	29
51	12
52	8
52	11
53	1
18	1
54	19
55	8
55	11
56	1
9	1
9	10
12	1
14	1
15	11
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: book_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.book_id_seq', 41, true);


--
-- Name: book_id_seq1; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.book_id_seq1', 1, false);


--
-- Name: orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_id_seq', 56, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 23, true);


--
-- Name: books book_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.books
    ADD CONSTRAINT book_pkey PRIMARY KEY (id);


--
-- Name: book book_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.book
    ADD CONSTRAINT book_pkey1 PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: orders_book_list uksqwy3lg6kagyakoj4ldcoqdae; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_book_list
    ADD CONSTRAINT uksqwy3lg6kagyakoj4ldcoqdae UNIQUE (orders_id, book_id);


--
-- Name: users unique_email; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT unique_email UNIQUE (email);


--
-- Name: users unique_username; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT unique_username UNIQUE (username);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: orders fk32ql8ubntj5uh44ph9659tiih; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fk32ql8ubntj5uh44ph9659tiih FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: orders_book_list fk5i0nxh8egjx0o9wkxd161orr; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_book_list
    ADD CONSTRAINT fk5i0nxh8egjx0o9wkxd161orr FOREIGN KEY (orders_id) REFERENCES public.orders(id);


--
-- Name: books fk9cv1tt952k857xoia51k1vj12; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.books
    ADD CONSTRAINT fk9cv1tt952k857xoia51k1vj12 FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: book fk9cv1tt952k857xoia51k1vj12; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.book
    ADD CONSTRAINT fk9cv1tt952k857xoia51k1vj12 FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: orders_book_list fkgb5wcila27tmxgkmjpnp1nw4r; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_book_list
    ADD CONSTRAINT fkgb5wcila27tmxgkmjpnp1nw4r FOREIGN KEY (book_id) REFERENCES public.books(id);


--
-- PostgreSQL database dump complete
--

